
.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 50px;
}

.modal-container {
	max-width: max-content;
	margin: auto;
}

.modal-box {
	min-width: 800px;
	background-color: white;
	margin: 10px;
	border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
	vertical-align: top;
}

.modal-top {
	padding: 10px;
	background-color: var(--grey);
	display: flex;
	justify-content: space-between;
}

.modal-top>* {
	margin: auto 10px;
}

.modal-title {
	color: var(--bg);
	display: inline;
}

.modal-content {
	padding: 25px;
}

.modal-close {
	font-size: 40px;
	color: var(--bg);
}

.modal-close:hover,
.modal-close:focus {
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.modal-hidden {
	display: none;
}

.modal-option {
	border-radius: 10px;
	padding: 10px;
	background-color: var(--bg);
	border-style: none;
	color: var(--grey);
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

.modal-option:hover {
	background-color: var(--bg2);
	color: var(--grey);
}

.modal-fixed {
	max-width: 350px;
	margin-left: 30px;
}
