:root {
	--text: #000000;
	--bg: #ffffff;
	--bg2: #601717;
	--button-bg: #212121;
	--button-hover: #616161;
	--shadow: lightgray;
	--grey: #3e3e3e;
	--grey2: #F5F5F5;
	--grey3: #fbfbfb;
	--grey4: #D4D3D3;
	--grey-hover: #e3e3e3;
	--menu-hover: #d84343;
	--progress-complete: #a7e200;
	--progress-hover: #cfff49;
}

.hover-pointer:hover {
	cursor: pointer;
}

.disabled {
	pointer-events: none;
	opacity: 60%;
	filter: grayscale(1);
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.full {
	width: 100%;
}

.ibt {
	display: inline-block;
	vertical-align: top;
}

.mb10 {
	margin-bottom: 10px;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h5 {
	font-weight: normal;
	opacity: 0.7;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: var(--bg);
}

body {
	overflow-y: scroll;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

.button {
	border-radius: 10px;
	padding: 15px 50px;
	margin: auto;
	background-color: var(--button-bg);
	border-style: none;
	color: var(--bg);
	font-size:large;
	font-weight: 600;
	text-align: center;
}

.button:hover {
	background-color: var(--button-hover);
}

.printer {
	display: block;
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%);
}

/* **************** NAVIGATION MENU	************** */


/* ******************* DROPDOWN ******************* */

.dropdown {
	position: relative;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--bg);
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	color: var(--grey);
	background-color: var(--bg);
}


/* ******************* TABLE ******************* */

#cost-per-order-table td:nth-child(2) {
	text-align: right;
}

#cost-per-order-table tr:last-child {
	font-weight: bold;
}

.inactive {
	opacity: 0.2;
}

.active {
	opacity: 0.7;
}

.active:hover {
	opacity: 1;
}



/* ******************* FILTERS ******************* */


/* ******************* IMAGES ******************* */

.preluata {
	background-image: url("/img/order_received.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.aprovizionata {
	background-image: url("/img/order_supplied.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.preparata {
	background-image: url("/img/order_in_progress.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.pregatita {
	background-image: url("/img/order_prepared.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.expediata {
	background-image: url("/img/order_delivered.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.anulata {
	background-image: url("/img/order_canceled.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(-30deg);
}

.profil {
	background-image: url("/img/profile.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-pinlocation {
	background-image: url("/img/pinlocation.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-hourglass {
	background-image: url("/img/hourglass.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-cart {
	background-image: url("/img/cart.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-edit {
	display: inline-block;
	content: "";
	width: 18px;
	height: 18px;
	margin-left: 5px;
	content: "";
	position: relative;
	background-image: url(/img/edit.svg);
	background-size: contain;
	opacity: 0.4;
}

.img-scale {
	background-image: url("/img/scale.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-money {
	background-image: url("/img/money.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-desserts {
	background-image: url("/img/desserts.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-appetizers {
	background-image: url("/img/appetizers.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-steaks {
	background-image: url("/img/steaks.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-drinks {
	background-image: url("/img/drinks.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-side-dish {
	background-image: url("/img/side-dish.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-hot-food {
	background-image: url("/img/hot-food.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-salads {
	background-image: url("/img/salads.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-soup {
	background-image: url("/img/soup.png");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-utensils {
	background-image: url("/img/utensils.svg");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.due-today {
	color: red;
}

.overdue {
	color: #c700ff;
}

/* ***************** MODAL **************** */

.block-scroll {
	position: fixed;
	overflow-y: scroll;
}

.orders-list {
	padding: 10px;
	margin: 10px;
	background-color: var(--grey2);
}

.date {
	display: block;
	border: none;
	background-color: transparent;
	font-size: inherit;
	color: inherit
}

.date:hover {
	text-decoration: underline;
}

#shopping-list-manager {
	margin-bottom: 20px;
}


/* ******************* SELECT LIST ******************* */

.select-list-container {
	position: relative;
	flex-grow: 1;
	margin: 0;
	text-align: left;
}

.select-list-container:hover {
	cursor: pointer;
	border-color: var(--menu-hover);
}

.select-list-container .dropdown-content {
	left: 0;
	top: 100%;
	background-color: var(--bg);
}

.select-list-container a:hover {
	background-color: var(--grey-hover);
}

.select-list-current {
	padding: 8px;
}

.error-code {
	font-size: 200px;
	text-align: center;
}

.error-message {
	font-size: 50px;
	text-align: center;
}

.error-box {
	padding: 100px 0px 100px 0px;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.space-right-0 {
	padding-right: 0;
	margin-right: 0;
}

.space-left-0 {
	padding-left: 0;
	margin-left: 0;
}


/* ******************* ORDER DETAILS ******************* */

.font-size-100 {
	font-size: 100%;
}

.font-size-120 {
	font-size: 120%;
}

.font-size-140 {
	font-size: 140%;
}


/* ******************* CARDS ******************* */

.cards {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 80px;
}

.cards-small {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	width: min-content;
}

.card-bg {
	background-repeat: no-repeat;
	width: 65px;
	height: 65px;
	background-size: contain;
}


.card-title {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 15px;
}

.card-text-big {
	font-size: 150%;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.card-text-medium {
	font-size: 115%;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.card-text-small {
	font-size: 90%;
	text-transform: capitalize;
}



@media print {
	.width-print {
		width: 1000px;
	}

	.print-header {
		margin-bottom: 60px;
	}

	#cards {
		text-align: left;
		margin-bottom: 40px;
	}

	.card:not(:last-child) {
		border-right: none;
	}

	.card {
		width: 480px;
		padding: 0px 10px 0px 20px;
		margin-bottom: 10px;
		transform: translateX(50px);
		border-left: solid var(--grey4);
	}

	.card-bg {
		width: 40px;
		height: 40px;
	}

	.card-title {
		margin-bottom: 5px;
	}

	.card-text-big {
		font-size: 100%;
	}

	#details-table td:nth-child(5) {
		display: none;
	}

	.stepper-wrapper {
		margin-bottom: 20px;
	}

	/* Shopping list */

	.shopping-list-table td,
	th {
		text-align: left;
	}

	.shopping-list-table td:nth-child(n+3),
	th:nth-child(n+3) {
		text-align: right;
	}

	.font-size-120 {
		font-size: 100%;
	}
}

/* ******************* ACTION BUTTONS ******************* */

.action-bar {
	display: flex;
	justify-content: right;
}

.action-button {
	display: inline-block;
	width: fit-content;
	height: fit-content;
	margin: 20px;
	display: flex;
	align-items: center;
}

.action-icon {
	display: inline-block;
	width: 55px;
	height: 55px;
	margin-right: 15px;
}

.action-details {
	display: inline-block;
	font-size: 18px;

}

/* ******************* ORDER PROGRESS ******************* */



/* ******************* ADD BUTTON ******************* */

/* ******************* ALERT MODAL ******************* */

.alert-message {
	font-size: 20px;
}

.alert-buttons {
	margin-top: 20px;
	text-align: center;
}

.alert-button {
	justify-content: center;
	max-width: fit-content;
}


/* ******************* TABLE LIST ******************* */


/* ******************* ADD ITEM TABLE ******************* */

.add-item-table td:nth-child(n+3),
.add-item-table th:nth-child(n+3) {
	text-align: right;
}

/* ******************* PICK CLIENT MODAL ******************* */

.MuiChartsAxis-directionX .MuiChartsAxis-tickLabel {
	transform: rotate(15deg);
	overflow: visible;
	z-index: 10000;
}

.chartGeneralContainer {
	display: flex;
	flex-flow: column;
	width:100%;
	align-items: center;
	justify-content: center;

	.datePicker {
		width: max-content;
		margin-bottom: 60px;
		display: flex;
		gap: 3rem;
	}

	.chartGeneral {
		width: 100%;
	}

	.css-1gakkqb-MuiResponsiveChart-container,
	.css-13aj3tc-MuiChartsSurface-root
	{
		overflow: visible !important;
	}
}