

.login_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	padding: 20px;
}

.login_box_title {
	padding: 15px;
	text-align: center;
	color: var(--button-bg);
	font-size: xx-large;
	font-weight:900;
	margin-bottom: 10px;
}

.login_box_content {
	width: 800px;
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	background-color: var(--grey);
	padding: 20px;
	background-color: rgb(240, 242, 245);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 2px 5px 0px

}

.login_form {
	display: flex;
    flex-direction: column;
}

.login_form label {
	display: flex;
	border-bottom: 2px solid black;
	margin: 20px auto;
}

.login_form span {
	margin: auto;
}

.login_form span img {
	width: 20px;
}

.login_form input {
	display: block;
	width: 600px;
	font-size: medium;
	background-color: #00000000 !important;
	border: none;
	max-width: 300px;
	padding: 15px;
}

.login_form input:focus-visible {
	outline: none;
}

.login_form button {
	margin: 30px auto;
}
