.no-print {
	display: none;
	}
	
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	}
	
.fr { 
	float:right; 
}
	
td {
	padding: 0.5mm;
	}
	
#shopping-list-table td:nth-child(2) {
    text-align: right;
    }
    
#shopping-list-manager {
    margin-bottom: 5mm;
}
	
#cost-per-order-table td:nth-child(2) {
	text-align:right;
	}

#cost-per-order-table th {
	padding-right: 5mm;
	}
	
#cost-per-order-table tr:last-child {
	font-weight: bold;
	}
    
.ibt {
	display: inline-block;
	vertical-align: top;
	}
	
.button {
	padding:0;
	border-style:none;
	background-color: white;
	}
	
.modal-fixed {
	margin-left: 10mm;
	max-width: 120mm;
	}
	
.doc-header {
	display: block;
	padding-bottom: 10mm
	}
