:root {
	--text: black;
	--bg: #421212;
	--bg2: #601717;
	--shadow: lightgray;
	--grey: #F0F0F0;
	--grey2: #F5F5F5;
	--grey3: #FAFAFA;
	--grey4: #D4D3D3;
	}

.fr { float:right; }

.fl { float:left; }

.full { width: 100%; }

.ibt {
	display: inline-block;
	vertical-align: top;
	}

.mb10 { margin-bottom:10px; }

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h5 {
	font-weight: normal;
	opacity: 0.7;
	}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg);
}

.box {
	margin:10px;
	background-color: white;
	box-shadow: 0 0 5px var(--shadow);
	border-radius:10px;
	}

.box-title {
	background-color: var(--grey);
	padding:15px;
	border-radius:10px 10px 0 0;
	}

.box-content {
	padding: 20px;
	}

.login-box {
	padding:0;
	max-width:400px;
	margin:auto;
	margin-top:150px;
	}

.form-big label,
.form-big input,
.form-big button{
	display:block;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	}

.button {
	border-radius:10px;
	padding:10px;
	margin: 5px;
	background-color: var(--bg);
	border-style:none;
	color: var(--grey);
	}

.button:hover {
	background-color: var(--bg2);
	}

.content {
	margin-top:100px;
	}

.printer {
	display: block;
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%);
	}

.pager {
	margin: auto;
	width: max-content;
	padding: 0;
	text-align: center;
	border-radius:10px;
	background-color: var(--grey2);
	}

.pager-button {
	padding:10px;
	margin: 0;
	border:none;
	color: var(--text);
	cursor: pointer;
	opacity: 0.4;
	background-color:inherit;
	}

.pager-button:first-child {
	border-radius: 10px 0 0 10px;
	}

.pager-button:last-child {
	border-radius: 0 10px 10px 0;
	}

.pager-button:hover {
	background-color: var(--grey4);
	opacity: 1;
	}

.pager-current {
	opacity: 1;
	}

.pager-extend {
	opacity: 0.4
	}

/* **************** NAVIGATION MENU	************** */

.nav {
	position:fixed;
	left:0;
	top:0;
	right:0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--grey);
	z-index: 10;
}

.nav-el {
	display: inline-block;
	color: inherit;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	border-bottom:solid;
	border-color: var(--grey);
	}

.nav-el:hover {
	border-color: var(--bg);
	}

.current-page {
	background-color: var(--bg);
	border-color: var(--bg);
	color: white;
	}

.current-page:hover {
	color: var(--grey);
	}

.profile {
	text-decoration: none;
	padding: 14px;
	color: inherit;
	float: right;
	}

.profile:hover {
	text-decoration: underline;
	background-color: var(--grey);
	}

.profile img {
	height: 20px;
	vertical-align: middle;
	margin-right:10px;
	}


/* ******************* DROPDOWN ******************* */

dropdown {
	position: relative;
	}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--grey2);
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	color: var(--grey);
	background-color: var(--bg);
}


/* ******************* TABLE ******************* */

table {
	border-collapse: collapse;
	margin-bottom: 10px;
	cursor: default;
	}

td, th {
	text-align: left;
	padding: 8px;
	}

tr {
	user-select: none;
	}

tr:nth-child(even) {
	background-color: var(--grey3);
	}

#recipe-details-table td:nth-child(3) {
	text-align:right;
	}

#shopping-list-table td:nth-child(2) {
	text-align:right;
	}

#cost-per-order-table td:nth-child(2) {
	text-align:right;
	}

#cost-per-order-table tr:last-child {
	font-weight: bold;
	}

tr:not(:first-child):hover {
    background-color: var(--grey);
}

.inactive {
	opacity: 0.2;
	}

.active {
	opacity: 0.7;
	}

.active:hover {
	opacity: 1;
	}

td.clickable:hover {
	text-decoration: underline;
	}

/* ******************* FILTERS ******************* */

.filter-menu {
	display: flex;
}

.filter-container {
	position: relative;
	flex-grow: 1;
	margin: 0;
	text-align: center;
	border-bottom: solid white;
	opacity: 0.5;
	}

.filter-container:hover {
	cursor: pointer;
	border-color: var(--bg);
	opacity:1;
	}

.filter-container .dropdown-content {
	left: 50%;
	top: 80%;
	transform: translate(-50%);
	background-color: var(--bg);
	}

.filter-container a {
	color: white;
	}
.filter-container a:hover {
	background-color: var(--bg2);
	}

.filter-name {
	padding: 25px 0 15px 0;
	}


/* ******************* ORDERS TABLE ******************* */

.preluata {
	background-image: url("/img/order_received.png");
	width:40px;
	height:40px;
	}
.in-lucru {
	background-image: url("/img/order_in_progress.png");
	width:40px;
	height:40px;
	}
.livrata {
	background-image: url("/img/order_delivered.png");
	width:40px;
	height:40px;
	}
.anulata {
	background-image: url("/img/order_canceled.png");
	width:40px;
	height:40px;
	filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(-30deg);
	}
.due-today {
	color: red;
	}
.overdue {
	color: #c700ff;
}


/* ***************** MODAL **************** */

 .modal {
	position:fixed;
	left:0;
	top:0;
	z-index:10;
	overflow:auto;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	padding-top:50px;
	}

.modal-container {
	max-width: max-content;
	margin: auto;
	}

.modal-box {
	min-width: 350px;
	background-color: white;
	margin:10px;
	border:1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-block;
	vertical-align: top;
	}

.modal-top {
	padding:10px;
	background-color:var(--grey);
	}

.modal-top h2 {
	margin:10px;
	}

.modal-title {
	color:var(--color-background);
	display:inline;
	}

.modal-content {
	padding:25px;
	}

.modal-close {
  float: right;
  font-size: 22px;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.modal-hidden {
	display:none;
	}

.modal-option {
	border-radius:10px;
	padding:10px;
	background-color: var(--bg);
	border-style:none;
	color: var(--grey);
	display:block;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
	cursor: pointer;
	}

.modal-option:hover {
	background-color: var(--bg2);
	color: var(--grey);
	}

.modal-fixed {
	max-width: 350px;
	margin-left: 30px;
	}

.orders-list {
	padding: 10px;
	margin: 10px;
	background-color: var(--grey2);
	}

.date {
	display: block;
	border: none;
	background-color: transparent;
	font-size: inherit;
	color:inherit
	}
.date:hover {
	text-decoration: underline;
	}

#shopping-list-manager {
	margin-bottom: 20px;
	}


/* ******************* SELECT LIST ******************* */

.select-list-container {
	position: relative;
	flex-grow: 1;
	margin: 0;
	text-align: center;
	border-bottom: solid white;
	opacity: 0.5;
	}

.select-list-container:hover {
	cursor: pointer;
	border-color: var(--bg);
	opacity:1;
	}

.select-list-container .dropdown-content {
	left: 100%;
	top: 0;
	background-color: var(--grey);
	}

.select-list-container a:hover {
	background-color: var(--bg2);
	}

.select-list-current {
	padding: 8px;
	}