.card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 30px 0 30px;
	user-select: none;
}

.card:not(:last-child) {
	border-right: solid var(--grey4);
	border-width: 3px;
}

.card input {
	font-size: inherit;
	text-align:right;
	/* width: 80px; */
	padding: 5px;
	border: 0;
}

.card_icon {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
