.search_bar {
	background-color: var(--grey-hover);
	border-radius: 50ch;
	margin-bottom: 20px;
	display: flex;

	input[type=search] {
		padding: 15px 0px 15px 20px;
		border: none;
		background: none;
		width: max-content;
		flex-grow: 1;
		outline: none;
	}

	.search_magnifier {
		width: 50px;
		border: none;
		background: none;
		opacity: 0.6;
	}

	.search_magnifier:hover {
		font-weight: 700;
		opacity: 0.9;
	}
}